<%= form_for @study, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
  	<%= f.file_field :dicom_file %>
  </p>
  <p>
  	<strong>Sender Email:</strong>
  	<%= f.text_field :email %>
  </p>
  <p><%= f.submit %></p>
<% end %>
