<% title "Study" %>

<p>
  <strong>Name:</strong>
  <%= @study.name %>
</p>
<p>
	<strong>
		Status:
	</strong>
	<%= @study.status %>
</p>
<p>
	<strong>
		Study Date:
	</strong>
	<%= @study.study_date %>
</p>
<p>
  <%= link_to "Edit", edit_study_path(@study) %> |
  <%= link_to "Destroy", @study, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", studies_path %>
</p>
